<%- include("partials/header")-%>
  
  <div class="post">
    <h1 class="postTitle"><%= title %></h1>
    <p class="postContent"><%= content %></p>
    <time class="postDate"><%= date %></time>
  </div>
  <a href='/'>Go back</a>
  
  
<%- include("partials/footer")-%>