<%- include("partials/header")-%>
  
  <div class="post">
    <h1 class="postTitle"><%= title %></h1>
    <p class="postContent"><%= content %></p>
    <time class="postDate"><%= String(date).substring(0,24) %></time>
  </div>
  <a href='/'>Go back</a>
  
  
<%- include("partials/footer")-%>